
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FAQ</title>
  <meta name="description" content="An effective treatment for muscle and joint conditions in dogs, cats and horses">
  <meta property="og:site_name" content="VetLIFU // Therapeutic ultrasound">

	<link rel="icon"  type="image/png"  href="images/vetlifu_favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

	<!-- Optional bootstrap css -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">


  <link rel="stylesheet" href="css/local.css">

  <link rel="canonical" href="http://yourdomain.com/about/">
  <link rel="alternate" type="application/rss+xml" title="VETLIFU" href="http://yourdomain.com/feed.xml" />
</head>



  <body>

	<div class="page_wrapper">
			<nav id="global_nav" class="navbar navbar-default navbar-fixed-top navbar-shrink">
			  <div class="container-fluid col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
			      <a class="navbar-brand" href="./index.html">
			        <img alt="Brand" src="images/vetlifulogo.jpg" class="main_logo img-circle">
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="./faq.html">FAQ</a></li>
			        <li><a href="./about_us.html">About Us</a></li>
			        <li><a href="./contact.html">Contact Us</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

<header>
<div class="standardpage-main">
	<img src="./images/stock-photo-64223829-veterinarian-examining-a-cat-with-its-owners.jpg" class="text-center img-responsive" alt="Responsive image">
	</div>
	</header>
		<div class="main_content container-fluid">
  			<div class="row overview">
	  				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
						<div class="center-block">
							<h1 class=" text-center">About VetLIFU</h1>
							<img src="images/Screen Shot 2016-01-31 at 23.19.26.png" alt="..." class="center-block width140 img-rounded">
						</div>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero elit, feugiat id dolor eget, tincidunt pretium justo. Sed laoreet ex sit amet tempus egestas. Maecenas molestie dignissim turpis, nec condimentum massa sagittis id. Vestibulum nec dolor eu diam dapibus dignissim. Donec hendrerit, nunc non tempor tristique, arcu tortor lobortis arcu, id vestibulum dolor lacus ac lectus. Nam scelerisque arcu non rhoncus dignissim. Praesent vitae laoreet lorem.</p> 
						<p>Integer blandit velit sapien, nec porta augue vulputate sit amet. Vestibulum eu odio id felis finibus congue. Curabitur ac nisi eget nisi porta tincidunt efficitur non lectus. Fusce ultricies justo vel dui auctor rutrum. Suspendisse quis leo ut ex sodales feugiat sed vitae lorem. Nulla ex ex, efficitur a elit quis, tristique tempus est. Vestibulum iaculis ipsum nec justo ornare, sit amet vehicula metus laoreet. Aliquam eu eleifend erat. Maecenas tincidunt justo id aliquet pharetra. Nam nec mauris eleifend, euismod erat interdum, ultricies lorem.</p> 
						<p>Aliquam sit amet luctus velit. Fusce vehicula risus vel arcu vestibulum, vel tincidunt odio cursus. Praesent eget libero sit amet lorem convallis suscipit. Fusce porttitor turpis ligula, vel placerat massa molestie in. Morbi id sagittis eros. Fusce varius mi felis. Phasellus risus erat, aliquam vel nisi id, condimentum porta sem. Donec pretium porttitor commodo.</p> 
						<p>Nam faucibus iaculis elit, eu iaculis ipsum eleifend vitae. Maecenas quis metus in risus venenatis finibus sed sed neque. Praesent bibendum dui non laoreet rhoncus. Ut at elit in mi placerat cursus ut ac justo. Curabitur pellentesque a est eget pulvinar. Fusce faucibus finibus mi bibendum consequat. Nam quis sem ipsum. Proin finibus nulla elit, sit amet semper odio varius in. Morbi porta quam a nunc sodales imperdiet ac ut felis.</p> 
					</div>
				</div>
		</div>

	</div>


 	<footer>
 		<div class="footer-inner"> 
			<span style="font-size: 16px;">VET LIFU LTD</span><br>
 			<span>In association with HAIFU Medical Technology Co. Ltd</span><br>
 <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone: 07866 143896
 <br><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: info@vetlifu.com 
</div>
 		<div class="footer-outter"> © 2016 VETLIFU LTD</div>
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/classie.js"></script>
	<!-- <script src="js/cbpAnimatedHeader.js"></script> -->
	
  </body>

</html>