
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FAQ</title>
  <meta name="description" content="An effective treatment for muscle and joint conditions in dogs, cats and horses">
  <meta property="og:site_name" content="VetLIFU // Therapeutic ultrasound">

	<link rel="icon"  type="image/png"  href="images/vetlifu_favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

	<!-- Optional bootstrap css -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">


  <link rel="stylesheet" href="css/local.css">

  <link rel="canonical" href="http://yourdomain.com/about/">
  <link rel="alternate" type="application/rss+xml" title="VETLIFU" href="http://yourdomain.com/feed.xml" />
</head>



  <body>

	<div class="page_wrapper">
			<nav id="global_nav" class="navbar navbar-default navbar-fixed-top navbar-shrink">
			  <div class="container-fluid col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
			      <a class="navbar-brand" href="./index.html">
			        <img alt="Brand" src="images/vetlifulogo.jpg" class="main_logo img-circle">
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="./faq.html">FAQ</a></li>
			        <li><a href="./about_us.html">About Us</a></li>
			        <li><a href="./contact.html">Contact Us</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

<header>
<div class="standardpage-main">
	<img src="./images/stock-photo-64223829-veterinarian-examining-a-cat-with-its-owners.jpg" class="text-center img-responsive" alt="Responsive image">
	</div>
	</header>
		<div class="main_content container-fluid">
  			<div class="row overview">
  				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
  					<h1 class="text-center">Fequently Asked Questions</h1>
  					<br>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					         
					          What does the treatment involve?
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					        Application of ultrasound gel to the treatment area and then a gentle massaging with the probe head.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="link_block collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          
					          Does it hurt?
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="panel-body">
					        Generally not, they might feel an odd sensation. If the setting is too high they may fidget a little, in which case the settings will be adjusted.
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="link_block collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          
					          Does my animal have to be shaved?
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="panel-body">
					        No. Generous application of ultrasound gel is sufficient.
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>

	</div>


 	<footer>
 		<div class="footer-inner"> 
			<span style="font-size: 16px;">VET LIFU LTD</span><br>
 			<span>In association with HAIFU Medical Technology Co. Ltd</span><br>
 <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone: 07866 143896
 <br><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: info@vetlifu.com 
</div>
 		<div class="footer-outter"> © 2016 VETLIFU LTD</div>
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/classie.js"></script>
	<!-- <script src="js/cbpAnimatedHeader.js"></script> -->
	
  </body>

</html>