
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>VetLIFU Home</title>
  <meta name="description" content="An effective treatment for muscle and joint conditions in dogs, cats and horses">
  <meta property="og:site_name" content="VetLIFU // Therapeutic ultrasound">

	<link rel="icon"  type="image/png"  href="images/vetlifu_favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

	<!-- Optional bootstrap css -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">


  <link rel="stylesheet" href="css/local.css">

  <link rel="canonical" href="http://yourdomain.com/about/">
  <link rel="alternate" type="application/rss+xml" title="VETLIFU" href="http://yourdomain.com/feed.xml" />
</head>



  <body>

	<div class="page_wrapper">
			<nav id="global_nav" class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
			      <a class="navbar-brand" href="#">
			        <img alt="Brand" src="images/vetlifulogo.jpg" class="main_logo img-circle">
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="./faq.html">FAQ</a></li>
			        <li><a href="./about_us.html">About Us</a></li>
			        <li><a href="/contact.html">Contact Us</a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
	<header id="homepage-main">
		<div class="container-fluid">

			<div class="intro-padding">
			<div class="intro-text panel panel-default col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<div class="intro-lead-in panel-body">
				Therapeutic ultrasound <br>
				An effective treatment for muscle and joint conditions in dogs, cats and horses
				</div> 
			</div>
		</div>
		</div>
	</header>
	<!--	<div class="banner">
			<img src="images/stock-photo-52184990-girl-and-horse.jpg" class="img-responsive" alt="Responsive image">
		</div> -->

		<div class="main_content container-fluid">
			<!-- <div class="row overview">
				<h1 class="italic text-center">Therapeutic ultrasound just got better!</h1>
			</div> -->
	  			<div class="row overview">
	  				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
						
						<div class="text-center center-block">
							<h2 class="text-center">What is Therapeutic Ultrasound?</h2>
							<!-- <img src="images/Screen Shot 2016-01-31 at 23.19.26.png" alt="..." class="center-block width140 img-rounded"> -->
					
							<p>Therapeutic ultrasound has been recognized as an effective treatment for soft tissue injuries for many years. Its benefits are to increase blood flow to tissue thus speeding up the healing process, decrease pain by reducing swelling and to gently massage the area relieving tension and softening scar tissue.</p> 
						</div>
					</div>
				</div>
	  			<div class="row overview">
	  				<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
						<div class="text-center center-block">
							<h2 class="text-center">How does Low Intensity Focused Ultrasound differ from conventional ultrasound?</h2>
							<!-- <img src="images/Screen Shot 2016-01-31 at 23.19.26.png" alt="..." class="center-block width140 img-rounded"> -->
						

						<p>Low Intensity Focused Ultrasound (LIFU) is a lower frequency than conventional ultrasound, which allows the ultrasound beam to penetrate to deeper tissues. It has a pulsed and continuous setting allowing for both a thermal and non-thermal effect. The ultrasound beam is focused which allows for more targeted treatment of deep tissue areas and also effective treatment of joint pathologies such as osteoarthritis.</p> 
						</div>
					</div>
				</div>
		


				
				<div class="row overview">
	  				<div class="text-center col-lg-2 col-md-3 col-sm-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

						<img src="images/horse.jpg" alt="horse" class="center-block width140 img-circle">
						<!-- <h3 class="section-heading">Horses</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero elit, feugiat id dolor eget, tincidunt pretium justo. Sed laoreet ex sit amet tempus egestas. Maecenas molestie dignissim turpis, nec condimentum massa sagittis. </p>  -->
	  				</div>

	  				<div class="text-center col-lg-2  col-md-3  col-sm-3 col-sm-3 col-lg-offset-1 ">
					<img src="images/dog.jpg" alt="dogs" class="center-block width140 img-circle">
					<!-- <h3 class="section-heading">Dogs</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero elit, feugiat id dolor eget, tincidunt pretium justo. Sed laoreet ex sit amet tempus egestas. Maecenas molestie dignissim turpis, nec condimentum massa sagittis. </p>  -->
	  				</div>

	  				<div class="text-center col-lg-2 col-md-3 col-sm-3 col-lg-offset-1">
					<img src="images/cat.jpg" alt="cat" class="center-block width140 img-circle">
					<!-- <h3 class="section-heading">Cats</h3>
	  					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero elit, feugiat id dolor eget, tincidunt pretium justo. Sed laoreet ex sit amet tempus egestas. Maecenas molestie dignissim turpis, nec condimentum massa sagittis. </p>  -->
	  				</div>
	  			</div>
  			<div class="row overview">

					<h2 class="italic text-center">Conditions where treatment has been beneficial.</h2>
					<div class="col-lg-3 col-lg-offset-3 
								col-md-3 col-md-offset-3 
								col-sm-3 col-sm-offset-3
								col-xs-6 col-xs-offset-3">
								<ul>
									<li>Muscle strains</li>
									<li>Soft tissue scarring</li>
									<li>Oedema</li>
									<li>Elbow/Hip dysplasia</li>
									<li>Treatment of muscular pain</li>
									<li>Post orthopaedic surgery</li>
								</ul>
					</div>
					<div class="clearfix visible-xs-block"></div>

					<div class="col-lg-3 col-lg-offset-0 
								col-md-3 col-md-offset-0
								col-sm-3 col-sm-offset-0
								col-xs-6 col-xs-offset-3">
								<ul>
									<li>Tendon injuries</li>
									<li>Bursitis</li>
									<li>Osteoarthritis</li>
									<li>Improve joint mobility</li>
									<li>Treatment of bone pain</li>
								</ul>
					</div>
				</div>

		</div>

	</div>

 	<footer>
 		<div class="footer-inner"> 
			<span style="font-size: 16px;">VET LIFU LTD</span><br>
 			<span>In association with HAIFU Medical Technology Co. Ltd</span><br>
 <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone: 07866 143896
 <br><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: info@vetlifu.com 
</div>
 		<div class="footer-outter"> © 2016 VETLIFU LTD</div>
	</footer>

	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/cbpAnimatedHeader.js"></script>

  </body>

</html>